.contacts {
  margin-bottom: 100px;

  @include on-tablet {
    margin-bottom: 156px;
  }

  @include on-desktop {
    margin-bottom: 150px;
  }
  &__content {
    display: grid;
    gap: 48px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-desktop {
      gap: 24px;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__info {
    display: grid;
    gap: 40px;

    @include on-desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1 / 7;
    }
  }

  &__location-title {
    margin-bottom: 16px;
  }

  &__label {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 4px;
  }

  &__link {
    line-height: 1.4;
    font-weight: 700;
    display: inline-block;
    color: #3e3e3e;
    margin-bottom: 10px;
  }

  &__form {
    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__input {
    width: 100%;
    border: none;
    padding: 14px 10px;
    background-color: #f8f8fa;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    &::placeholder {
      color: #7e7e83;
      line-height: 20px;
    }
    &:focus {
      outline: none;
    }
  }

  &__textarea {
    width: 100%;
    border: none;
    padding: 14px 10px;
    background-color: #f8f8fa;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    min-height: 144px;
    resize: none;
    margin-bottom: 23px;
    &::placeholder {
      color: #7e7e83;
      line-height: 20px;
    }
    &:focus {
      outline: none;
    }
  }
}
