body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 27px;
  color: $color-primary;
  font-weight: 400;
  background: $color-secondary;
}

h3 {
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
}

.main {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: $padding-sm;
  padding-inline: 20px;
  padding-top: $padding-sm;

  @include on-tablet {
    max-width: 600px;
    margin: 0 auto;
    gap: $padding-md;
    padding-inline: 72px;
    padding-top: $padding-md;
  }

  @include on-desktop {
    padding-inline: 0;
    max-width: 1020px;
  }
}

.btn-primary {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 14px 0;
  background: $color-accent;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-family: $font-main;
  color: $color-secondary;
  transition: $transition-main;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  &:active {
    background: $color-active;
    text-decoration: none;
    outline: none;
    border: none;
  }
  &:hover {
    background: $color-hover;
    text-decoration: none;
  }
}

.btn-secondary {
  display: inline-block;
  text-align: center;
  width: fit-content;
  font-family: $font-main;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: $color-secondary;
  transition: $transition-main;
  padding-bottom: 8px;
  border: 1px solid transparent;
  text-decoration: none;
  &:hover {
    border: 1px solid $color-secondary;
  }
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  padding-inline: 20px;
  width: 100%;

  @include on-tablet {
    box-sizing: content-box;
    max-width: 600px;
    margin: 0 auto;
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    padding-inline: 20px;
  }
}
