.more-main {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 48px 24px;
  text-align: center;

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    --columns: 12;
  }

  &__block {
    display: block;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $color-accent;
    margin: 24px 0 8px;

    @include on-tablet {
      margin: 34px 0 8px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
    font-family: $font-accent;
  }
}
