$font-accent: 'Roboto', sans-serif;
$font-main: 'Cinzel', serif;
$color-primary: #161616;
$color-secondary: #fff;
$color-accent: #d12d35;
$color-active: #eb343d;
$color-hover: #ae1c23;
$tablet: 744px;
$desktop: 1200px;
$padding-sm: 100px;
$padding-md: 140px;
$transition-main: all 0.3s;
